body{
	/* color de fondo */
	background-color:#2f2f4d;
	/* color texto*/
	color :#e8d18e;
	/* tamaño de fuente */
	font-size: 24px;
	/*alimentacion de texto*/
	text-align: justify;
	margin: 20px;
	padding: 30px;
}
h1{
	color:#bab195;
	text-align: center;
	margin-bottom: 20px;
}
h5{
	color: #11091a;
}
.espacio{
	margin-top: 20px;
	margin-bottom: 20px;/* añade un margen inferior de 20 px*/
	}
.card-text{
	color: #626970;
}
.card-body{
	background-color: #bab195;
}

.card-link{
	color: #11091a ;
	font-size: 16px;
}

.list-group-item{
	color: #11091a;
}